@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #DAA520;
}

.cabecalho{
    background-color: #b310101f;
    padding: 2% 0% 2% 75%;
    
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration:none;
}

.cabecalho-menu-link:hover {
    color: #D2691E;
}

.titulo__principal {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.titulo{
    margin: 40px;
}

.container__principal {
    align-items: center;
    margin: 0 10em;
}

.texto__primario {
    display: flex;
    padding: 20px;
    margin: 20px;
    
}

.imagem__vicent{
    width: 20px;
}

.imagem{
    width: 30%;
}

.noiteestrelada__titulo, .lirios__titulo, .auto__titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.subtitulo {
    text-align: center;
    padding: 2em;
    font-size: 20px;
    font-weight: 800;
}

.container__secundario {
    padding: 20px;
    align-items: center;
    margin: 0 10em;
}

.texto__secundario{
    display: flex;
    padding: 20px;
    margin: 20px;
}

.subtitulo__lirios {
    text-align: center;
    padding: 2em;
    font-size: 20px;
    font-weight: 800;
}


.container__terciario {
    padding: 20px;
    align-items: center;
    margin: 0 10em;
}


.texto__terciario{
    display: flex;
    padding: 20px;
    margin: 20px;
}

.subtitulo__autoretrato {
    text-align: center;
    padding: 2em;
    font-size: 20px;
    font-weight: 800;
}

footer {
	background-color: #b310101f;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

